@import '_vars';
@import 'modules/_lightbox';
@import 'modules/_errors';
@import 'modules/_pages';

body, html {
    min-height: 100%;
    }

body {
    background: rgb(105,44,4);
    background: linear-gradient(209deg, rgba(105,44,4,1) 0%, rgba(14,89,96,1) 100%); 
}

#icons_places {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    width: 20%;
    margin: 0 0 0 67%;
    cursor: pointer;
}

#indexHeader {
    font-family: $main_font;
    font-size: 7em;
    color: white;
    width: 60%;
    position: absolute;
    padding: 3% 0 0 3%;
}

#indexSub {
    font-family: $deco_font;
    font-size: 4em;
    color: rgb(213,228,41);
    position: absolute;
    margin-top: 30%;
    margin-left: 3%;
}

.copyrights_home h3 {
    font-family: $main_font;
    color: white;
    padding: 0 0 3% 3%;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    left: 0;

}

// PAGE 1

#bcg1 {
    background-image: url(../images/bcg_xilitla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#description1 {
    font-family: $main_font;
    color: white;
}

.title {
    color: white;
    font-family: $desc_font;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-top: 10%;
    margin-bottom: 20%;
}

.info_section {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #cfd5b1, $alpha: 0.2);
    float: right;
    width: 23%;
}

.image {
    margin-top: 20%;
}

.copyrights {
    font-family: $desc_font;
    font-size: 1.2em;
    color: white;
    padding: 0 3% 3% 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.error-home-places {
    font-family: $desc_font;
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 10% 3% 3% 3%;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    text-decoration: none;
}

.error-home-places:hover {
    color: rgba($color: white, $alpha: 0.5);
}

//PAGE 2
#bcg2 {
    background-image: url(../images/bcg_marietas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.info_section2 {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #3e494b, $alpha: 0.4);
    float: right;
    width: 23%;
}

//PAGE 3
#bcg3 {
    background-image: url(../images/bcg_batun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}





