<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">

    <title>Ah Crap!</title>
</head>
<body id="body_error">
    <main class="error-section">
        {{{body}}}
    </main>
    <a class="error-home" href="/">Back Home!</a>
</body>
</html>