<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    {{!-- FONTS links --}}
    <link rel="stylesheet" href="https://use.typekit.net/mrs6qim.css">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    
    <title>My Favourite Places</title>

</head>

<body>

{{!-- HEADER --}}
    <header>
        <h1 id="indexHeader">MY FAVOURITE PLACES</h1>
        {{!-- <h2 id="indexSub" >Mexico</h2> --}}
  </header>

{{!-- MAIN --}}
    <main>
        <section>
            {{#each places}}
        <div>
            <a class="u-link" href="/thing/{{ID}}">
                <img id="icons_places" src="images/{{Thumbnail}}" alt="{{ID}} Thumbnail">
            </a>
        </div>
            {{/each}}
        </section>
    </main>

    {{!-- Lightbox --}}
    {{!-- <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">

        </div>
    </section> --}}

{{!-- FOOTER --}}
    <footer>
        <div class="copyrights_home" >
            <h3>Copyrights © Dana Marin</h3>
        </div>
    </footer>
    <script type="module" src="js/main.js"></script>
</body>
</html>