<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Favourite Places</title>

    {{!-- CSS links --}}
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

{{!-- HEADER --}}
    <header>
        <h1 id="indexHeader">MY FAVOURITE PLACES</h1>
        <h2 id="indexSub" >Mexico</h2>
  </header>

{{!-- MAIN --}}
    <main>
        <section>
            {{#each places}}
        <div>
            <a href="{{ID}}">
                <img src="images/{{Thumbnail}}" alt="{{ID}} Thumbnail">
            </a>
        </div>
            {{/each}}
        </section>
    </main>

{{!-- FOOTER --}}
    <footer>
        <div>
            <h3>Copyrights © Dana Marin</h3>
        </div>
    </footer>
</body>
</html>